<!-- Modal -->
<div class="modal fade" id="nickModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalLabel">Enter your nickname</h3>
            </div>
            <form class="form" role="form">
                <div class="modal-body">
                    <input type="text" class="form-control" id="nickname" placeholder="Enter nick" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal" role="button">Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->